.resume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $spacing-lg;
  background-color: $bg-gray-soft;
  padding: $spacing-sm $spacing-lg;

  @include media-up(sm) {
    padding: $spacing-md $spacing-xl;
  }

  &__title {
    display: flex;
    flex-direction: column;

    h3 {
      font-weight: $font-weight-bold;
      color: $bg-darken;
      margin-bottom: $spacing-xs;
      font-size: rem(20);

      @include media-up(sm) {
        font-size: rem(32);
      }
    }

    span {
      color: $bg-darken;
      font-size: rem(13);

      @include media-up(sm) {
        font-size: rem(14);
      }
    }
  }

  &__breadcrumbs {
    font-size: rem(15);
    color: $blue-text;
    text-align: right;

    span {
      font-weight: $font-weight-bold;

      &:not(:last-child)::after {
        content: " / ";
        color: $blue-text;
      }
    }
  }
}
