<!-- Dashboard 19 - Modal 3: Actualizar jugador -->
<div class="app-modal">
  <button
    class="app-modal__trigger"
    type="button"
    data-bs-toggle="modal"
    data-bs-target="#dashboard19Modal3"
  >
    Abrir modal 3
  </button>

  <div
    class="modal fade"
    id="dashboard19Modal3"
    tabindex="-1"
    aria-labelledby="dashboard19Modal3Label"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content app-modal__card app-modal__card--form">
        <div class="app-modal__header">
          <h3 class="app-modal__title" id="dashboard19Modal3Label">
            Actualizar jugador
          </h3>
        </div>

        <div class="app-modal__body">
          <div class="app-modal__form">
            <div class="app-modal__row">
              <label class="app-modal__label" for="d19-doc">Documento</label>
              <input
                id="d19-doc"
                class="app-modal__input"
                type="text"
                value="12345678"
              />
            </div>
            <div class="app-modal__row">
              <label class="app-modal__label" for="d19-tipo"
                >Tipo de documento</label
              >
              <input
                id="d19-tipo"
                class="app-modal__input"
                type="text"
                value="DNI"
              />
            </div>
            <div class="app-modal__row">
              <label class="app-modal__label" for="d19-nombre"
                >Nombre completo</label
              >
              <input
                id="d19-nombre"
                class="app-modal__input"
                type="text"
                value="PRUEBA"
              />
            </div>
            <div class="app-modal__row">
              <label class="app-modal__label" for="d19-ap"
                >Apellido Paterno</label
              >
              <input
                id="d19-ap"
                class="app-modal__input"
                type="text"
                value="SISTEMA"
              />
            </div>
            <div class="app-modal__row">
              <label class="app-modal__label" for="d19-am"
                >Apellido Materno</label
              >
              <input
                id="d19-am"
                class="app-modal__input"
                type="text"
                value="COLOSSUS"
              />
            </div>
            <div class="app-modal__row">
              <label class="app-modal__label" for="d19-fecha"
                >Fecha de Nacimiento</label
              >
              <input
                id="d19-fecha"
                class="app-modal__input"
                type="text"
                value="06/06/2000"
              />
            </div>
            <div class="app-modal__row">
              <label class="app-modal__label" for="d19-genero">Género</label>
              <input
                id="d19-genero"
                class="app-modal__input"
                type="text"
                value="MASCULINO"
              />
            </div>
            <div class="app-modal__row">
              <label class="app-modal__label" for="d19-pref"
                >Preferencias</label
              >
              <input
                id="d19-pref"
                class="app-modal__input"
                type="text"
                value="preferencias"
              />
            </div>
            <div class="app-modal__row">
              <label class="app-modal__label" for="d19-act"
                >Actividad y/o Oficio</label
              >
              <input
                id="d19-act"
                class="app-modal__input"
                type="text"
                value="ACTIVIDAD"
              />
            </div>
            <div class="app-modal__row">
              <label class="app-modal__label" for="d19-cel"
                >Número de Celular</label
              >
              <input
                id="d19-cel"
                class="app-modal__input"
                type="text"
                value="30122655484"
              />
            </div>
            <div class="app-modal__row">
              <label class="app-modal__label" for="d19-mail"
                >Correo Electrónico</label
              >
              <input
                id="d19-mail"
                class="app-modal__input"
                type="text"
                value="j.rojas@rysgol.com"
              />
            </div>
          </div>

          <div class="app-modal__divider"></div>
        </div>

        <div class="app-modal__footer app-modal__footer--center">
          <button class="app-modal__btn app-modal__btn--success">
            Guardar datos
          </button>
          <button
            class="app-modal__btn app-modal__btn--danger"
            data-bs-dismiss="modal"
            type="button"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
